$images-path: "../images" !default;
$font-path: "../fonts" !default;

//colors
$purple:#a29bfe !important;
$light-red:#ff7675 !important;
$dark-olive-green:#414731;
$black:#000000;
$white:#ffffff;
$gray:#bdc1c3;
$light-gray:#eeeeee;
$dark-gray:#444444;
$social-icon-bg:#444A34;
$lime-green:#B6C197;


$bg-black:#000000;
$bg-white:#ffffff;
$bg-offwhite:#fbfafd;
$bg-purple:#a29bfe;
$bg-light-gray:#f6f6f6;
$bg-yellow:#FFD723;
$bg-lime-green:#B6C197;

$text-yellow:#FFD723;
$text-black:#000000;
$text-white:#ffffff;
$text-dark-gray:#4D533C;
$text-light-gray:#D4D6D4;
$text-gray:#213842;
$text-lime-green:#B6C197;

$gray-border:1px solid #ccc;

// $font-regular:'Poppins-Regular';
// $font-italic:'Poppins-Italic';
// $font-semibold:'Poppins-Semibold';
// $font-bold:'Poppins-Bold';

$pos-rel:relative;
